<!DOCTYPE HTML>
<html>

<style>
    body {
        background: lightskyblue;
        text-align: center;
    }
</style>
<head>
    <title>Pulsar Predictor</title>
    <script src="https://cdn.jsdelivr.net/gh/akjpro/form-anticlear/base.js"></script>
</head>
<body>
    <h1>Pulsar Star Predictor</h1>
    <br>
    <form method="POST" class="form-anticlear">
        <label>Input pulsar pulsar data.</label>
        <br>
        <label>A. Mean of the integrated profile.</label>
        <input name="meanIntegratedProfile">
        <br>
        <label>B. Standard deviation of the integrated profile.</label>
        <input name="standardDeviationIntegratedProfile">
        <br>
        <label>C. Excess kurtosis of the integrated profile.</label>
        <input name="kurtosisIntegratedProfile">
        <br>
        <label>D. Skewness of the integrated profile.</label>
        <input name="skewnessIntegratedProfile">
        <br>
        <label>E. Mean of the DM-SNR curve.</label>
        <input name="meanDM_SNR">
        <br>
        <label>F. Standard deviation of the DM-SNR curve.</label>
        <input name="standardDeviationDM_SNR">
        <br>
        <label>G. Excess kurtosis of the DM-SNR curve.</label>
        <input name="kurtosisDM_SNR">
        <br>
        <label>H. Skewness of the DM-SNR curve.</label>
        <input name="skewnessDM_SNR">
        <br>
        <input type="submit">
    </form>
    <h6>
        A pulsar is a collapsed star that was not quite big enough to form a black hole.
        <br> Instead it becomes a fast rotating neutron star that is of considerable scientific interest
        <br> as probes of space-time, the inter-stellar medium, and states of matter.
        <br> The predictions of this model are based off of DM-SNR curves built from the readings of different
        detections of pulsar candidates.
        <br>
        <br> The dataset for this model was obtained from https://archive.ics.uci.edu/ml/datasets/HTRU2
    </h6>
    <h1>{{ prediction }}</h1>>
</body>
</html>