<center>
    <style>body {background : lightskyblue}</style>
    <h1>Pulsar Star Predictor</h1>
    <h3>
        Features for making prediction
        <br>A. Mean of the integrated profile.
        <br>B. Standard deviation of the integrated profile.
        <br>C. Excess kurtosis of the integrated profile.
        <br>D. Skewness of the integrated profile.
        <br>E. Mean of the DM-SNR curve.
        <br>F. Standard deviation of the DM-SNR curve.
        <br>G. Excess kurtosis of the DM-SNR curve.
        <br>H. Skewness of the DM-SNR curve.
    </h3>
    <br>
    <form method="POST">
        <label>Input pulsar pulsar data in format "A,B,C,D,E,F,G,H"</label>
        <input name="text">
        <input type="submit">
    </form>
    <h6>
        A pulsar is a collapsed star that was not quite big enough to form a black hole.
        <br> Instead it becomes a fast rotating neutron star that is of considerable scientific interest
        <br> as probes of space-time, the inter-stellar medium, and states of matter.
        <br> The predictions of this model are based off of DM-SNR curves built from the readings of different detections of pulsar candidates.
        <br>
        <br> The dataset for this model was obtained from https://archive.ics.uci.edu/ml/datasets/HTRU2
    </h6>
</center>